a{
    text-decoration: none;
    color: black;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 450px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'underTitulo';
    src: url("../font/MonsterFriendBack.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'underTexto';
    src: url("../font/PixelOperatorMonoHB8.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'underSubTitulo';
    src: url("../font/MonsterFriendFore.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

html, body{
    height: 90%;
}

#titulo {
    font-family: 'underTitulo';
    font-size: 70px;
    color: white;
    text-align: center;
    position: relative;
    top: 10%;
}
#sub-titulo {
    font-family: 'underSubTitulo';
    font-size: 35px;
    color: white;
    text-align: center;
    position: relative;
}
#texto {
    font-family: 'underTexto';
    font-size: 20px;
    color: white;
    text-align: center;
    position: relative;
}

#caixa{
    width: 600px;
    height: 350px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 10px;
    border-color: white;
    display: flex;
    justify-content: center;   
    padding: 30px;
}




